@import "../common";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#logo {
  font-family: 'Alegreya Regular', sans-serif;;
  display: flex;
  align-items: center;

  .caption {
    @include selectionOff;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
  }

  svg.rotating {
    animation: rotation .6s infinite linear;
  }

  svg.normal {
    transform: rotate(200deg);
  }
}