.App {
  text-align: center;
}

/*
 * Main
 */
.main {
  color: #fff;
  height: 100vh;
  background-color: #333333;
}

input {
  color: #333333 !important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  height: 100vh;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #252526;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
.nav-sidebar > li > a:hover {
  color: #333333;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #5cb85c;
}

#new-quenta-btn {
  margin-bottom: 20px;
}