.editor-nav {
  border-radius: 0 0 10px 10px;
}

.save-btn, .cancel-btn, .quenta-rnd-btn {
  font-size: 17pt;
}

.gender-selectgroup {
  margin-bottom: 15px;
}

.panel-title-horizontal, .panel-title {
  vertical-align: middle;
  color: #000;
  line-height: 32px;
}

.panel-title {
  float: left;
}

.panel-heading {
  text-align: left
}

textarea {
  resize: none;
}

#save-profile-btn {
  margin-bottom: 15px;
}