#skillblock {
  color: #000;
  overflow-x: hidden;
  overflow-y: auto;
}

.skillblock-header {
  margin-bottom: 15px;
}

.set-panel {
  display: inline-block;
  text-align: left;
  width: 46%;
  margin: 8px;
  cursor: pointer;
}

.set-panel > .panel-body {
  vertical-align: middle;
  line-height: 33px;
  padding: 5px;
}

.set-panel:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.set-panel > .panel-body> img {
  margin-right: 8px;
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.superset-panel > .panel-body {
  padding: 0;
}