@import "../assets/fonts/Alegreya/alegreya-regular.css";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import "./common";
body {
  height: 100vh;
}

#root {
  height: 100%;
}

// TODO figure out a proper way to set up a color themes
@mixin lightTheme {
  background-color: #fff;
}

$bg-dark: #1c1c20;
$bg-light: #fff;

#application-layout {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
  ;
  grid-auto-rows: 50px 1fr 50px;
  align-items: center;
  height: 100%;

  .app-header {
    background-color: $bg-dark;
    color: $btn-text;
    grid-area: header;
    height: 100%;
    display: flex;
    align-items: center;

    &__link {
      cursor: pointer;
      margin-left: $grid-gap-medium;
    }

    &__lang-switch {
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 15px;
      padding: 5px;
      margin-left: $grid-gap-medium;
      margin-right: $grid-gap-medium;

      &--active-part {

      }

      &--passive-part {

      }
    }
  }

  .app-content {
    grid-area: content;
    justify-content: start;
    height: 100%;
    overflow: hidden;
  }

  .app-footer {
    height: 100%;
    grid-area: footer;
    font-family: $font-cyrillic-exotic;
    display: grid;
    background-color: $bg-color-main;
    color: #fff;
    justify-items: center;
    align-items: center;
  }
}

// ================== Reusable app elements / local style library ===========================
/*Disable <a> links default styles*/
a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

/* Custom radio buttons*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $text-color-main;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $bg-color-main;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $bg-color-main;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}