$bg-color-main: #48559d;
$bg-color-main-hover: #5c8eea;
$bg-color-main-disabled: rgb(65, 90, 119);
$bg-color-secondary: #23899d;
$btn-text: #fff;

$text-color-main: #000;

$font-cyrillic-exotic: 'Didact Gothic', sans-serif;

@mixin selectionOff {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}