.char-book {
  height: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;

  &--sidebar {
    overflow: auto;
  }

  &--preview-block {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--preview-name {
    text-align: center;
  }

  &--preview-image {
    width: 100px;
    height: 100px;
  }

  &--content {
    padding: 1em;
  }
}