.char-book {
  height: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;

  &__sidebar {
    overflow: auto;
  }

  &__preview-block {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(100%);

    &:hover {
      background-color: #c9c9c9;
      filter: grayscale(0);
    }

    &.active {
      background-color: #d7d7d7;
      filter: grayscale(0);
    }
  }

  &__preview-name {
    text-align: center;
  }

  &__preview-image {
    width: 100px;
    height: 100px;
  }

  &__character-caption {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  &__main-image-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  &__art-source {
    color: #54ffdd;
    text-decoration: underline;
  }

  &__main-image {
    height: 400px;
  }

  &__content {
    padding: 1em;
  }
}